* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    list-style: none;
}

.content {
    width: 100%;
    max-width: 1440px;
    height: fit-content;
}

body {
    background-color: #071820;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    align-items: center;

    header {
        background-color: #0a222c;
        color: white;
        height: 80px;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;

        div {
            padding-left: 24px;
        }
    }

    main {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        section {
            h1 {
                color: white;
                padding-bottom: 62px;
                font-size: 56px;
                font-family: "Raleway", sans-serif;
                text-align: center;
            }
            div {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 24px;
            }
        }
    }

    footer {
        background-color: #0a222c;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0;
        bottom: 0;
        width: 100%;
        height: 128px;
        border-top-left-radius: 75% 60px;
        border-top-right-radius: 75% 60px;

        p {
            text-align: center;
            color: white;
        }
    }
}

.images_size {
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: 2px solid #124658;
    object-fit: cover;
    cursor: pointer;
}

dialog {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    width: 640px;
    
    
    background-color: #071820;
    border-radius: 20px;
    padding: 24px;
    border: none;
    margin: auto;

    main {
        div {
            img {
                width: 500px;
                height: 310px;
                margin: 0 10% 36px;
                object-fit: contain;
            }
        }
    }
}

.overlay-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        background-color: #071820;
        height: 80px;

        span {
            color: white;
        }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

.overlay-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    position: relative;
    width: 100%;
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 10% 12px;
    background-color: #071820;
    

    p{
        color: white;
        font-size: 24px;
    }
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.arrow {
    width: 60px;
    height: 60px;
    background: none;
    border: none;

    img {
    background: rgba(253, 91, 79, 10%);
    border-radius: 50%;
    padding: 8px;
    }
    img:hover {
        background: rgba(253, 91, 79, 20%);
    }
}
.arrow-2 {
    width: 60px;
    height: 60px;
    background: none;
    border: none;


    img {
    background: rgba(253, 91, 79, 10%);
    border-radius: 50%;
    padding: 8px;
    transform: rotate(180deg);
    }
    img:hover {
        background: rgba(253, 91, 79, 20%);
    }

}
