* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    list-style: none;
}

.content {
    max-width: 1440px;
}
